a {
    color: #bb86fc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


a[href*="upload"] {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for a larger click area and more space inside */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Allow setting dimensions */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Some margin for spacing */
    cursor: pointer; /* Change mouse cursor to indicate clickable */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

a[href*="upload"]:hover {
    background-color: #45a049; /* Darker shade of green on hover */
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}






.post {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #1e1e1e;
    border: 1px solid #333333;
    border-radius: 3px;
    transition: transform 0.3s ease;
}

.post:hover {
    transform: scale(1.05);
}

.post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}