<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Photo Library</h1>
        <a href="{{ url_for('upload') }}">Upload New Post</a>
        <a href="{{ url_for('secure_volt') }}">Unlock Volt</a>
        <br><br>

        <div class="grid">
            {% for post in posts %}
                <div class="post" data-post-id="{{ post.id }}">
                    <a href="{{ url_for('open_individual_post', id=post.id) }}">
                    <img src="{{ url_for('static', filename=voltname+'/' + post.id + '/' + post.images[0]) }}" alt="Post {{ post.id }}">
                    </a>
                
                </div>
            {% endfor %}
        </div>
    </div>


</body>
</html>