<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    

</head>
<body>

    <div id="expanded-post" class="expanded-post">
        <a href={{ url_for("index") }}><button class="close-button">&times;</button></a>
        <button class="nav-button prev-button">&lt;</button>
        <div class="expanded-post-content"></div>
        <div class="image-counter"></div>
        <button class="nav-button next-button">&gt;</button>
    </div>

    <script src="{{ url_for('static', filename='js/post.js') }}"></script>

    <script>

        var post_id = {{id}};
        fetchAndDisplayPost(post_id);


    </script>

</body>
</html>