<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/individual_style.css') }}">
    

</head>
<body>

    <div id="expanded-post" class="expanded-post" >
        <div class="navigation_blocks" style="justify-content:flex-end">
            <a href={{ url_for("index") }}><button class="close-button">&times;</button></a>
        </div>

        <div>
            <div></div>
            <div class="photo-level-1">
                <button class="nav-button prev-button">&lt;</button>
                <div class="expanded-post-content"></div>            
                <button class="nav-button next-button">&gt;</button>
            </div>
            <div></div>
        </div>

        <div class="image-counter"></div>
    
</div>

    <script src="{{ url_for('static', filename='js/post.js') }}"></script>

    <script>

        var post_id = {{id}};
        fetchAndDisplayPost(post_id);


    </script>

</body>
</html>